{% extends 'base.html' %}

{% load form_tags %} <!-- Ensure custom tag is loaded -->

{% block content %}
<body class="bg-[#202837]">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-gray-800 p-8 rounded-2xl shadow-md w-96">
            <h2 class="text-white text-2xl font-bold mb-2 text-center">MEMBER LOGIN</h2>
            <form method="post" class="flex flex-col items-center">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-4 w-full">
                    <label class="block text-gray-400 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        <!-- Optionally, add an icon here -->
                        {{ field.label }}
                    </label>
                    {{ field|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                    <span class="text-red-400 text-sm">{{ field.errors }}</span>
                </div>
                {% endfor %}
                <div class="flex items-center justify-center w-full">
                    <button type="submit" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
