{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: #202837;
    }
</style>

<div class="container mx-auto px-4">
    <h2 class="text-xl font-medium text-white">Activity Logs</h2>
    <div class="flex flex-col mt-8">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-800">
                <table class="min-w-full">
                    <thead class="bg-gray-800">
                        <tr>
                            <th class="px-6 py-3 border-b border-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">User</th>
                            <th class="px-6 py-3 border-b border-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Action</th>
                            <th class="px-6 py-3 border-b border-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Description</th>
                            <th class="px-6 py-3 border-b border-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody class="bg-gray-800">
                        {% for log in logs %}
                        <tr>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-800 text-sm leading-5 text-gray-300">{{ log.user.username|default_if_none:'System' }}</td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-800 text-sm leading-5 text-gray-300">{{ log.action }}</td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-800 text-sm leading-5 text-gray-300">{{ log.description }} {{ log.deleted_user|default_if_none:'' }}</td>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-800 text-sm leading-5 text-gray-300">{{ log.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
